# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# bin folder
bin/

# debug folder
Debug/plugins

# windows binaries
*.ilk
*.pdb
*.exe