# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# bin folder
bin/

# windows binaries
*.ilk
*.pdb
*.exe

#logs
*.tlog
*.log

Debug/
Release/
MINX/Debug/
MINX/Release/
TestMINXProject/Debug/
TestMINXProject/Release/
packages/
*.sdf
*.suo
*.opensdf